{% extends 'base_landing.html' %} 
{% load static %}


{% block contend %}
<div class="container mt-4 py-4">
    <h2>Clientes atendidos</h2>
    <form class="row my-3 g-4" method="post" acction="{% url "products_time_proccess" %}">
        {% csrf_token %}
        <div class="col-6 col-md-4  ">
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="shift__in_date_after" required placeholder="Desde">
                
              </div>
              
            
          </div>
          
          <div class="col-6 col-md-4 ">
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="shift__in_date_before" required placeholder="Hasta">
                
              </div>
          </div>      
          <div class="col-12 col-md-4   " id="search_group">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
    </form>
    {% if error %}
    <div class="alert alert-danger px-2" role="alert">
        A simple danger alert—check it out!
      </div>
      {% endif %}
    <div class="row mt-2 mb-4" >
      <div class="col-12">
        <div class="table-responsive  table-bordered mt-0" >
          {% if start_date and end_date %}<caption>Fecha {{start_date}} hasta {{end_date}}</caption>{% endif %}
          <table class="table table-hover">
            <thead>
              <tr class="text-center "
              
              >
                <th  scope="col ">Mesa</th>
                <th  scope="col">Clientes atendidos</th>
                <th  scope="col">Aproximado a atender</th>
                <th  scope="col">Media</th>

                
              </tr>
            </thead>
            <tbody  >
            {% for table in tables %}
            
                <tr class="text-center {% if table.avg < table.customer_cant and table.avg > 0 %} table-danger{% endif %} "
                hx-get="{% url 'customers_proccess_charge_orders' pk=table.pk start_date=start_date end_date=end_date %}"
                hx-trigger="click"
                hx-target="#ChargeOrdersForTable"
                hx-indicator="#spinner"
              >
                    <td class="border small ">{{table.name}}</td>  
                    <td class="border small table-min">{{table.cant}}</td>  
                    <td class="border small table-min">{{table.customer_cant}}</td>  
                    <td class="border small ">{{table.avg}}</td> 
                    
                    
                    
                </tr>
                
            {% endfor %}
            <tr class="text-center "
                
              >
                    <td class="border small ">-</td>  
                    <td class="border small table-min">{{total_cant}}</td>  
                    <td class="border small table-min">{{total_customer_cant}}</td>  
                    <td class="border small "></td> 
                    
                    
                    
                </tr>
              </tbody>
            </table>
          </div>
          
            
      </div>
      
    </div>
  
    
   <div class="d-flex justify-content-center align-items-center py-4 position-relative" >
    <div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute   justify-content-center align-items-center"  >
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div  class="col-12" id="ChargeOrdersForTable" >
    </div> 
   </div> 
  </div>
{% endblock %}