/* your styles go here */
.card-chart{
    background: #000000a3 !important;
    border-radius: .5rem;
    color: #3498db;
}


.dropdown-toggle:not(.btn)::after {
    display: none !important;
}

.nav-close-sesion {
    padding-left: 10px;
}

.nav-close-sesion:hover {
    color: #000 !important;
}

.dropdown-item{
    color: #fff;
}


.btn-primary{
    border-radius: .5rem !important;
    border-color: #3f6791;
    background: #3f6791 !important;
}

.btn-success-create{
    border-radius: .25rem !important;
    border: #00bc8c !important;
    background: #00bc8c !important;
    color: #fff;
    transition: .25s all;
}

.btn-success-create:hover,
.btn-success-create:active,
.btn-success-create:focus{
    border-radius: .25rem !important;
    border-color: #00bc8d93 !important;
    background: #00bc8d93 !important;
    color: #fff !important;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active{
    border-radius: .5rem !important;
    border-color: #33567b !important;
    background: #33567b !important;
}

.text a{    
    color: #007bff!important;
}

.card{
    border-radius: .25rem !important;
}

.card-body{
    background-color: #343a40 !important;
    border-radius: .25rem !important;
    
}


.table thead th {
    background-color: #343a40 !important;
    border-bottom: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #303030 !important;
}

.table {
    --bs-table-color: #ffffff !important;
    --bs-table-bg:  transparent !important;
    --bs-table-striped-color: #fff !important;
    margin-bottom: 0 !important;
    border-color: transparent !important;
}

.min-select{
    min-width: 200px !important;
    border-radius: .25rem !important;
    margin: 0 .5rem;
}

.min-select select{
    border-radius: .25rem !important;
    border:none !important;
}

.min-select select:hover,
.min-select select:active,
.min-select select:focus{
    box-shadow:  none !important;
    
    
}


.min-select input{
    border-radius: .25rem !important;
    border-color: #6c757d;
    background-color: #343a40 !important;
    color: #fff !important;
}

.min-select input:active,
.min-select input:focus,
.min-select input:hover{
    border-color: #4694d9db;
    box-shadow:  0px 0px 7px -1px #4694d9db !important;
}


.form-group .input-date{
    border-radius: .25rem !important;
    padding: 0.375rem 0.75rem;
    border: none !important;
    min-width: 150px !important;
    box-shadow: none;

}

#changelist-search{
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    justify-content:start;
    
}

.items-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.card-item-order{
    background: #343a40 !important;
    color: #fff;
    border-radius: .25rem !important;
    
    
}


.card-item-order-header{
    background: #303030 !important;
    border-bottom: none !important;

}



.text-item{
    color:#4694d9db;
}


.delivered{
    color: rgba(75,192,192,1) !important;
}

.cancel{
    color: rgb(232, 119, 58) !important;
}


.kitchen{
    color: rgba(0, 188, 140,1) !important;
}

.btn-bar{
    background: rgb(51, 160, 160) !important;
    border-radius: .25rem !important;
}

.btn-kitchen{
    background: rgba(0, 188, 140,1) !important;
    border-radius: .25rem !important;
}


.pagination-item-order{
    background: #343a40 !important;
    color: #fff !important;
    border-radius: .25rem !important;
}

.pagination-item-order.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #3f6791 !important;
    border-color: rgb(255, 255, 255) !important;
}

.pagination-item-order .page-active{
    background: #3f6791 !important;
    color: #fff !important;
    border-radius: .25rem !important;
}

.pagination-item-order:hover,
.pagination-item-order:active,
.pagination-item-order:focus{
    background: #33567b !important;
    color: #fff !important;
    border-radius: .25rem !important;
    box-shadow: none !important;
}



.pagination-btn-order{
    background: #3f6791 !important;
    border: 1px solid #3f6791;
    color: #fff !important;
    border-radius: .25rem !important;
}

.pagination-btn-order:hover,
.pagination-btn-order:active,
.pagination-btn-order:focus{
    background: #33567b !important;
    color: #fff !important;
    border-radius: .25rem !important;
    border: 1px solid #33567b;
    box-shadow: none !important;
}



.alert-error{
    border-radius: .25rem;
    color: #fff !important;
    background-color: #e74c3c !important;
    border-color: #e43725 !important;
}

.alert-error .btn-close{
    border: none;
    box-shadow: none !important;
}
.alert-error .btn-close:active,
.alert-error .btn-close:hover,
.alert-error .btn-close:focus{
    border: none;
    box-shadow: none !important;
}

.modal-dark{
    background: #fff !important;
    color: #000;
}


.modal-dark .btn-danger{
    background: #dc3545 !important;
    border:  none !important;
    border-radius: .25rem !important;
    transition: .3s all;
}

.modal-dark .btn-danger:hover,
.modal-dark .btn-danger:active,
.modal-dark .btn-danger:focus{
    background: #dc354690 !important;
    border-color:none !important;
    
}


.modal-dark input,
.modal-dark select{
    color:#000 !important;
    border: 2px solid #000 !important;
    border-radius: .25rem !important;
}