{% load static  %}
<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Administrador de local{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    
    <script src="{% static 'assets/js/color-modes.js' %}"></script>
    <!-- Google fonts - Roboto -->
    {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"> {% endcomment %}
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static 'sales/vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static 'sales/vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- theme stylesheet-->
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'sales/img/favicon.ico' %}">

    <!--Reports integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="-->
    <script src="{% static './reports/chart.umd.min.js' %}" ></script>  
    <script src="{% static './reports/jquery-3.6.4.min.js' %}"  crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css"> {% endcomment %}
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/waiter_custom.css' %}" rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css"> {% endcomment %}
  </head>
  
<body>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
        <path
            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path
            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        <path
            d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path
            d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
    </symbol>
</svg>
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0">
    <div class="container-fluid">
      <a class="navbar-brand " href="/">
        <img width=30 height=30 src="{% static 'sales/img/AdminLTELogo.png'%}" alt="La Rueda de la fortuna Logo" class="img-circle brand-image elevation-3 image-w" style="opacity: .8">
      </a>
      
      <div class="d-flex align-items-center" >
        
        <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center " >
          <div id="notificationStock"
          hx-get="{% url 'notification_empty_view' %}"
          hx-swap="innerHTML"
          hx-trigger="load, every 60s"
          hx-scheduler="true"
          hx-target="#notificationStock"
           >
            
          </div>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark  shadow-sm "  aria-labelledby="languages">
            <li>
              <a class="dropdown-item" rel="nofollow" href="/admin/logout/" >
                
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="text-danger me-2 bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"></path>
                </svg>
                <span class=" nav-close-sesion"> Cerrar sesión</span></a>
            </li>
            <li>
              <a class="dropdown-item" rel="nofollow" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="me-2 bi-bounding-box" viewBox="0 0 16 16">
                  <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"></path>
                </svg>
                <span class=" nav-close-sesion">Módulos de venta</span></a>
            </li>
          </ul>
  
          <a class="nav-link dropdown-toggle text-white " id="languages" rel="nofollow" data-bs-target="#" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="me-2 bi-key-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
            </svg>
          </a>
            
          </a>
        </ul>
      </div>
      
      
    </div>
  </nav>
      {% block contend %}
      {% endblock %}
      
      <nav class="navbar fixed-bottom justify-content-center align-items-center d-flex py-2 m-0 bg-dark">
        <div class=" nav-scroller p-1 " id="TableListWaiter"
        hx-get="{% url "table_list_update_view" %}"
        hx-trigger="update-table-list from:body"
        hx-swap="innerHTML">
          {% include "waiter/tableList/table_list.html" %}
        </div>
        
        
      </nav>

    <!-- JavaScript Libraries -->
    

    <!-- Main File-->
    
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      {% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> {% endcomment %}
      <script src="{% static './sales/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static './sales/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
      <script src="{% static './prueba/js/htmx.min.js' %}"></script>
       
    </body>
</html>