{% if tables %}
          <nav class="nav nav-pills pb-1 mb-0 justify-content-between gap-2 ">
            {% for table in tables  %}
            <input type="radio" class="btn-check" name="table" id="TableSelect{{table.pk}}" >
            <label
            hx-get="{% url 'charge_table' pk=table.pk %}"
            hx-target="#TableResults"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-indicator="#spinner"
            class="btn btn-outline-success {% if table.state == "ocupada" %} btn-outline-danger {% endif %}" for="TableSelect{{table.pk}}">{{table.name}}</label>
            {% endfor %}
          </nav>
{% endif %}