{% extends 'base.html' %} 
{% load static %}


{% block contend %}
<section class="container-fluid p-3">
    <div class="card-modul-container">
        {% if user.is_superuser %}
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Administración</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Administración básica de su local</span>
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="/admin" class="btn  btn-info btn-modul-view">Acceder</a>
                
            </div>
        </div>
        
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Estadísticas de ventas</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Resumen estadístico de las ventas realizadas.</span>
                    
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="{% url 'statistics_orders' %}" class="btn  btn-info btn-modul-view">Acceder</a>
            </div>
        </div>
        
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Estadísticas de productos</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Resumen estadístico de las ventas realizadas.</span>
                    
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="{% url 'product_statistics_orders' %}" class="btn  btn-info btn-modul-view">Acceder</a>
            </div>
        </div>
        
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Ventas</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Visualizar todas las órdenes vendidas.</span>
                    
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="{% url 'orders_list' %}" class="btn  btn-info btn-modul-view">Acceder</a>
                
            </div>
        </div>
        {% endif %}
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Elaboración de barra y launch</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Visualizar pedidos entrantes de la cocina y el bar.</span>
                    
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="{% url 'kitchen_and_launch' %}" class="btn  btn-info btn-modul-view">Acceder</a>
                
            </div>
        </div>
        {% comment %} <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Dependiente</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    
                    <span class="text-light">Gestionar los pedidos.</span>
                    
                </div>
                
                <a href="{% url 'example' %}" class="btn  btn-info btn-modul-view">Acceder</a>
                
            </div>
        </div> {% endcomment %}
        <div class="card-modul col-12 col-lg-4 col-md-5">
            <div class="card-modul-header">
                <h5 class="m-0">Gestionar las Ventas</h5>
            </div>
            <div class="card-modul-body">
                <div class="card-modul-body text-center">
                    <span class="text-light">Proceso de gestión de cuentas.</span>
                </div>
                {% comment %} btn-success {% endcomment %}
                <a href="{% url 'unpaid_orders_list' %}" class="btn  btn-info btn-modul-view">Acceder</a>
                
            </div>
        </div>
        
    </div>
    
    
    
    
</section>
    
{% endblock %}
