{% extends 'base.html' %} {% load static %} {% block contend %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="dialog" class="modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content card-modul ">
          <div class=" modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ item.kitchen.id }}
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">OK</button>
          </div>
      </div>
      </div>
  </div>
  
</div>

<div class="content-wrapper" style="min-height: 520.438px">
  <div class="container-fluid p-3">
    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
      <div class="row p-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h1">
            <a class="text-light" href="{% url 'home' %}">Módulos</a>
          </li>
          <li class="breadcrumb-item h1 active">Bar y Launch</li>
        </ol>
      </div>
    </div>
  </div>
  {% if error %}
    <div class="container-fluid p-3">
      <div class="alert alert-error alert-danger alert-dismissible fade show m-3" role="alert">
        {{error}}
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endif %}
  <div class="container-fluid p-3">
    <div class="row">
      <!-- Bar -->
      <div class="col-12 col-lg-6 col-md-6">
        <div class="container-fluid p-3">
          <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
            <div class="row">
              <ol class="breadcrumb">
                <li class="breadcrumb-item h1 text-light">Bar</li>
              </ol>
            </div>
          </div>
        </div>
        <div
        hx-get="{% url 'items_list_bar' %}"
        hx-swap="innerHTML"
        hx-trigger="load, every 20s"
        hx-scheduler="true"
        >
      </div>
      </div>
      <!-- Launch -->
      <div class="col-12 col-lg-6 col-md-6">
        <div class="container-fluid p-3">
          <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
            <div class="row">
              <ol class="breadcrumb">
                <li class="breadcrumb-item h1 text-light">Launch</li>
              </ol>
            </div>
          </div>
        </div>
          <div
          hx-get="{% url 'items_list_kitchen' %}"
          hx-swap="innerHTML"
          hx-trigger="load, every 20s"
          hx-scheduler="true"
          id="kitchensContainer"
          >
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}
