{% extends 'base.html' %} 
{% load static %}


{% block contend %}
    
    <div class="container-fluid p-3 ">
      <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center p-3">
        <div class="d-flex ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item h1 "><a class="text-light" href="/">Módulos</a></li>
            <li class="breadcrumb-item h1 active">Ganancias</li>
          </ol>
        </div>
      </div>
      
      
      <form id="filterForm">
        <label class="h1 text-light" for="year">Escoja el año:</label>
        <select name="year" id="year"></select>
        <input class="btn btn-primary" type="submit" value="Cargar datos" name="_load">
      </form>
      
        <div class="row p-3">
          <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
            <h2 class="text-white mb-2">Ganancia de ventas</h2>
            <div class="card ">
              <div class="card-body">
                <canvas id="salesChart" height="200"></canvas>
              </div>
              
            </div>
            
          </div>
          <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
            <h2 class="text-white mb-2">Ganancia total</h2>
            <div class="card ">
              <div class="card-body">
                <canvas id="salesTotalChart" height="200"></canvas>
              </div>
              
            </div>
            
            </div>
           {% comment %} <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
            <canvas id="paymentSuccessChart" height="200"></canvas>
          </div> {% endcomment %}
          <div class=" col-lg-6 col-12  mt-3 mb-3 p-2">
            <h2 class="text-white mb-2">Ganancia de venta</h2>
            <div class="card ">
              <div class="card-body">
                <canvas id="spendPerCustomerChart" height="200"></canvas>
              </div>
              
            </div>
          </div>
          <div class=" col-lg-6 col-12  mt-3 mb-3 p-2">
            <h2 class="text-white mb-2">Ganancia total</h2>
            <div class="card ">
              <div class="card-body">
                <canvas id="spendPerCustomerTotalChart" height="200"></canvas>
                
              </div>
              
            </div>
           
          </div>
        </div> 

      

      <form id="monthFilterForm">
        <label class="h1 text-light" for="month">Escoja el año y mes:</label>
        <select name="month" id="month"></select>
        <select class="" id="monthYear" name="monthYear">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
      </select>
        <input class="btn btn-primary" type="submit" value="Cargar datos" name="_loadMonth">
      </form>
      <div class="row p-3">
        <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
          <h2 class="text-white mb-2">Ganancia de ventas</h2>
          <div class="card ">
            <div class="card-body">
              <canvas id="monthSalesChart"></canvas>
            </div>
            
          </div>
          
        </div>
        <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
            
        </div>
       {% comment %} <div class="col-lg-6 col-12 mt-3 mb-3 p-2">
          <canvas id="monthPaymentSuccessChart"></canvas>
        </div> 
             {% endcomment %}
        <div class="col-12  mt-3 mb-3 p-2">
          <div class="card ">
            <div class="card-body">
              <canvas id="monthSpendPerCustomerChart"></canvas>
            </div>
            
          </div>
          
        </div> 
      </div>

      


      <script src="{% static './reports/revenue_anual_select.js' %}" ></script> 
      <script src="{% static './reports/revenue_month_select.js' %}" ></script> 
      <script>
        
        let salesTotalCtx = document.getElementById("salesTotalChart").getContext("2d");
        let salesTotalChart = new Chart(salesTotalCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        let salesCtx = document.getElementById("salesChart").getContext("2d");
        let salesChart = new Chart(salesCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        let spendPerCustomerTotalCtx = document.getElementById("spendPerCustomerTotalChart").getContext("2d");
        let spendPerCustomerTotalChart = new Chart(spendPerCustomerTotalCtx, {
          type: "line",
          options: {
            responsive: true,
            title: {
              display: true,
              text: "white"
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        let spendPerCustomerCtx = document.getElementById("spendPerCustomerChart").getContext("2d");
        let spendPerCustomerChart = new Chart(spendPerCustomerCtx, {
          type: "line",
          options: {
            responsive: true,
            title: {
              display: true,
              text: "white"
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        let monthSalesCtx = document.getElementById("monthSalesChart").getContext("2d");
        let monthSalesChart = new Chart(monthSalesCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        let monthSpendPerCustomerCtx = document.getElementById("monthSpendPerCustomerChart").getContext("2d");
        let monthSpendPerCustomerChart = new Chart(monthSpendPerCustomerCtx, {
          type: "line",
          options: {
            responsive: true,
            title: {
              display: true,
              text: "white"
            },
            scales: {
              x: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje X a blanco
                  beginAtZero: true
                }
              },
              y: {
                ticks: {
                  color: 'white', // Cambia el color del texto del eje Y a blanco
                  beginAtZero: true
                }
              }
            }
          }
        });
        
      </script>
    </div>
      
{% endblock %}
