{% extends 'base_landing.html' %} 
{% load static %}


{% block contend %}
<div class="container mt-4 py-4">
    <h2>Tiempos</h2>
    <form class="row my-3 g-4" method="post" acction="{% url "products_time_proccess" %}">
        {% csrf_token %}
        <div class="col-6 col-md-4  ">
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="shift__in_date_after" placeholder="Desde">
                
              </div>
              
            
          </div>
          
          <div class="col-6 col-md-4 ">
            <div class="input-group mb-3">
                <input type="date" class="form-control" name="shift__in_date_before" placeholder="Hasta">
                
              </div>
          </div>      
          <div class="col-12 col-md-4   " id="search_group">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
    </form>
    {% if error %}
    <div class="alert alert-danger px-2" role="alert">
        A simple danger alert—check it out!
      </div>
      {% endif %}
    <div class="row mt-2 mb-4" >
      <div class="col-12">
        <div class="table-responsive  table-bordered mt-0" >
          <caption>Total de productos mostrados <strong>{{products|length}}</strong> entre la fecha {{start_date}} y {{end_date}}</caption>
          <table class="table table-hover">
            <thead>
              <tr class="text-center ">
                <th  scope="col ">ID</th>
                <th  scope="col">Producto</th>
                <th  scope="col">Cantidad</th>
                <th scope="col">Promedio de tiempo</th>

                
              </tr>
            </thead>
            <tbody  >
             
            {% for product in products %}
                <tr class="text-center ">
                    <td class="border small ">{{product.product__pk}}</td>  
                    <td class="border small table-min">{{product.product__name}}</td>  
                    <td class="border small ">{{product.total_count}}</td> 
                    
                    <td class="border small table-min {{product.bg}}"><strong>{{product.avg_time}}</strong></td>
                    
                </tr>
                
            {% endfor %}
              </tbody>
            </table>
          </div>
          
            
      </div>
      
    </div>
  
    
    
  </div>
{% endblock %}