{% load static %}

<div  class="container-fluid">
    
    {% if item %}
        <h1 class="h4">Pedido {{item.id}}: Producto {{item.product.name}}</h1>
    {% endif %}
    
    {% if error %}
            <h1 class="text-danger">{{error}}</h1>
    {% endif %}
        
    
    
    <form action="{% url 'create_util_item_form' order=order pk=item.id%}"  class="form-group " method="POST">
        {% csrf_token %}
        {% if form %}
            <table class="table  form-table  table-sm mt-2">
                <thead class="form-group">
                    <tr>
                        <th>Cantidad</th>
                        <th>Útil</th>
                    </tr>
                    </thead>
                    <tbody class="center">
                        {% for field in form %}
                            
                                <td class="form-group">{{ field }}</td>
                    
                        {% endfor %}
                    </tbody>
                </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                {% if error %}
                    <button type="submit" class="btn btn-success-create disabled">Añadir</button>
                {% else %}
                    <button type="submit" class="btn btn-success-create">Añadir</button>
                {% endif %}
            </div>     
        
        {% endif %}
        
    </form>
  </div>
