{% load static %}

<div  class="container-fluid">
    
    {% if product %}
        <h1 >Producto {{product.name}}</h1>
    {% endif %}
    
    
    <form action="{% url 'create_item_form' order=order pk=product.id%}"  class="form-group " method="POST">
        {% csrf_token %}
        <table class="table  form-table  table-sm mt-2">
            <thead class="form-group">
                <tr>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody class="center">
                    {% for field in form %}
                        
                            <td class="form-group">{{ field }}</td>
                   
                    {% endfor %}
                </tbody>
            </table>
        
    
    <table class="table form-table  table-sm mt-2">
        <thead class="form-group">
            <tr>
                <th>Cantidad</th>
                <th>Agregado</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody >
            {% for form_data in formset %}
                <tr class="item">
                    <td>
                        {{ form_data.cant }}
                    </td>
                    <td>
                        {{ form_data.add }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm remove-form-row w-100"
                                id="{{ formset.prefix }}">
                          
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="9"
                    style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                    <button type="button" class="btn btn-success-create add-form-row w-100"
                            id="{{ formset.prefix }}">
                       Añadir
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        {{ formset.management_form }}
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success-create">Crear</button>
          </div>    
    </form>
    

    <script src="{% static 'sales/js/formset.js' %}"></script>
  </div>
