{% load static %}

<div  class="container-fluid">
    
    {% if item %}
        {% if item.state == 'ordenado' %}
            <h1 class="h4">Pedido {{item.id}}</h1>
            <h1 class="text-danger">El pedido será eliminado completamente, está seguro de seguir con la acción?</h1>
        {% else %}
            <h1 class="h4">Pedido {{item.id}}</h1>
            <h1 class="text-danger">El pedido será cancelado, en caso que haya sido ya entregado entonces se le retirara del monto actual de la cuenta la cantidad correspondiente</h1>
        {% endif %}
        
    {% endif %}
    
    
    <form action="{% url 'delete_item_form' order=order pk=item.id%}"  class="form-group " method="POST">
        {% csrf_token %}
        {% if item.state != 'ordenado' %}
        <table class="table  form-table  table-sm mt-2">
            <thead class="form-group">
                <tr>
                    <th>Motivo</th>
                </tr>
                </thead>
                <tbody class="center">
                    {% for field in form %}
                        
                            <td class="form-group">{{ field }}</td>
                
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        {% if item.state == 'ordenado' %}
            <button type="submit" class="btn btn-success-create">Eliminar</button>
        {% else %}
            <button type="submit" class="btn btn-success-create">Cancelar</button>
        {% endif %}
            
        </div>    
    </form>
  </div>
