{% load static %}
    <div  class="d-flex overflow-auto">
        {% if products %}
            {% for product in products %}
                <div class="card-moduls m-2" style="width: 13rem; min-width:13rem">
                    <div class="card-body p-3">
                    <h5 class=" card-title text-light mb-2">{{product.name}}</h5>
                    
                    <button 
                        type="button" 
                        class="btn btn-success-create" 
                        data-bs-toggle="modal" 
                        data-bs-target="#staticBackdropAdd"
                        hx-get="{% url 'create_item_form' order=order pk=product.id%}"
                        hx-swap="innerHTML"
                        hx-target="#CreateFormItem">
                    <i class="fa fa-plus-circle mr-2"></i>Añadir
                    </button>
                    </div>
                </div>
                
                
                
            {% endfor %}
        {% endif %}
        
  </div>
