{% extends 'base.html' %} {% load static %} {% block contend %} {% if order %}

<!-- Modal print-->
<div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Print</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          
          Hola mundo
          <h1>Pedro</h1>
          <h1>Pedro</h1>
          <h1>Pedro</h1>
          <h1>Pe</h1>
          <h1>dro</h1>
          <h1>P</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id="printButton" class="btn btn-success-create">Imprimir</button>
        </div>
      
    </div>
  </div>
</div>



<!-- Modal create item-->
<div class="modal  fade" id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear pedido</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="CreateFormItem"></div>
          
        </div>
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success-create">Crear</button>
        </div> {% endcomment %}
      
    </div>
  </div>
</div>

<!-- Modal delete item-->
<div class="modal  fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar pedido</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="DeleteFormItem"></div>
          
        </div>
    </div>
  </div>
</div>

<!-- Modal create add item-->
<div class="modal  fade" id="staticBackdropAddItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir agregado</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="AddItemFormItem"></div>
          
        </div>
    </div>
  </div>
</div>



<div class="content-wrapper" style="min-height: 520.438px">
  <div class="container-fluid p-3">
    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
      <div class="row p-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h1">
            <a class="text-light" href="{% url 'home' %}">Módulos</a>
          </li>
          <li class="breadcrumb-item h1">
            <a class="text-light" href="{% url 'unpaid_orders_list' %}">Cuentas </a>
          </li>
          <li class="breadcrumb-item h1 active">{{order}}</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      {% if categories %}
        <div  class="d-flex overflow-auto pb-3">
                {% for category in categories %}
                    {% comment %} <a action="post" href="#"  style="width: 18rem;" class="btn btn-success-create m-3">{{category.name}}</a> {% endcomment %}
                    <form id="terminadoForm_{{category.id}}" class="m-2" method="post" hx-post="{% url 'product_sell_list' order=order.id %}"hx-target="#contenido" >
                        {% csrf_token %}
                        <input type="hidden" name="category" value="{{ category.id }}">
                        <button type="submit" class="btn btn btn-primary float-right ">{{category.name}}</button>
                    </form>
                {% endfor %}
                <div hx-get="{% url 'product_sell_list' order=order.id %}" hx-target="#contenido" hx-trigger="load"></div>
              </div>
        {% endif %}
        <div id="contenido"></div>
    </div>
    <div class="col-12 col-md-auto d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-success-create" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fa fa-print mr-2"></i>Imprimir
      </button>
    </div>
  </div>
  <div class="content">
    <div class="">
      <section
        id="content"
        class="content"
        data-select2-id="select2-data-content"
      >
        <div class="container-fluid">
          <div class="col-12">
            <div data-select2-id="select2-data-11-t58z">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body table-responsive p-0">
                      <table id="result_list" class="table table-striped">
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                            >
                              <div class="text">
                                <a href="#"
                                  >{{order}}</a
                                >
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if order %}
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Dependiente: </a> {{order.user}}
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Mesa: </a> {{order.table.name}}
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Estado: </a> {{order.is_paid}}
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Turno: </a> Turno {{order.shift.id}}
                              del {{order.shift.in_date}} a las {{order.shift.in_time}} horas
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Creada el: </a> {{order.created_date}}
                              a las {{order.created_time}} horas
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Total a pagar: </a>
                              {{order.total_price}} CUP
                            </td>
                          </tr>
                          {% else %}

                          <tr role="row" class="">
                            <th class="field-name text">-</th>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid p-3">
      <div class="row  p-3">
      {% for item in items_delivered %}
            <div class="col-12 col-md-6">
              <div class="card-item-order p-3 card col-12">

              <div class="card-item-order-header card-header">
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                  <h1 class="h2 delivered">{{item.delivered.product.name}}</h1>
                  {% if item.delivered.state != "cancelado" %}
                    <button 
                    type="button" 
                    class="fa fa-times  btn btn-danger"
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdropDelete"
                    hx-get="{% url 'delete_item_form' order=order.id pk=item.delivered.id %}"
                    hx-swap="innerHTML"
                    hx-target="#DeleteFormItem"></button>
                  {% else %}
                    <button 
                    type="button" 
                    class="fa fa-times disabled btn btn-danger"
                    ></button>
                  {% endif %}
                </div>
                <h3 class="mt-1 delivered">{{item.delivered.state}}</h3>
                <span
                  >Cantidad:
                  <span class="delivered">{{item.delivered.cant}}</span></span
                >
                <p>
                  Precio total:
                  <span class="h5 delivered"
                    >{{item.delivered.total_price}}</span
                  >
                  CUP
                </p>
                <div class="col-12 col-md-auto d-flex justify-content-end align-items-center">
                  {% if item.delivered.state != "finalizado" %}
                    <button type="button" class="btn btn-primary disabled  float-right">
                      Entregar
                    </button>
                  {% else %}
                    <button type="button" class="btn btn-primary float-right">
                      Entregar
                    </button>
                  {% endif %}
                  
                </div>
                
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center pt-3">
                  
                  <h2 class="h5 fw-normal mb-0">
                    Agregados
                </h2>
                {% if item.delivered.state == "ordenado" %}
                  <button type="button" 
                          class="btn btn-success-create" 
                          data-bs-toggle="modal" 
                          data-bs-target="#staticBackdropAddItem"
                          hx-get="{% url 'create_add_item_form' order=order.id pk=item.delivered.id%}"
                          hx-swap="innerHTML"
                          hx-target="#AddItemFormItem">
                      <i class="fa fa-plus-circle mr-2"></i>Añadir
                    </button>
                  {% endif %}
                  
                </div>
              </div>

              {% if item.add %}
              <div class="card-body-0">
               
                  <!-- Item-->
                  {% for add in item.add %}
                    <div class="p-3 border-bottom border-gray-200">
                      <div class="d-flex justify-content-between">
                        <div class="ms-3">
                          <h5 class="fw-normal">{{add.add.name}}</h5>
                          <p class="mb-0 text-xs text-light lh-1">
                            Cantidad: {{add.cant}}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              
              </div>
              {% endif %}
            </div>
          </div>
            {% endfor %}
          </div>
    </div>
  </div>
</div>
<script src="{% static 'sales/js/print.js' %}"></script>
  {% endif %} {% endblock %}

