{% extends 'base.html' %} {% load static %} {% block contend %} {% if order %}

<!-- Modal print-->
<div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Imprimir venta</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          
          <table class="table table-dark  ">
            <thead class="form-group">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody class="center">
                    {% if items_delivered %}
                      {% for item in items_delivered %}
                        {% if item.delivered.state == "entregado" %}
                          <tr role="row" class="even">
                            <td class="table-dark field-place">{{item.delivered.product.name}}</td>
                            <td class="table-dark field-place">{{item.delivered.cant}}</td>
                            <td class="table-dark field-place">{{item.delivered.total_price}}</td>
                          </tr>
                        {% endif %}
                      
                      {% endfor %}
                    {%else%}
                      <td class="table-dark form-group">-</td>
                      <td class="table-dark form-group">-</td>
                      <td class="table-dark form-group">-</td>
                    {% endif %}
                    <thead class="form-group">
                    <tr>
                      <th>Cuenta</th>
                      <th>Total a pagar</th>
                      <th>Cambio en usd</th>
                    </tr>
                    <tr role="row" class="even">
                      <td class="table-dark field-place">#{{order.id}}</td>
                      <td class="table-dark field-place">{{order.total_price}} CUP</td>
                      <td class="table-dark field-place">{{order.rate}} USD</td>
                    </tr>
                  </thead>
                  
                </tbody>
                
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id="printButton" class="btn btn-success-create">Imprimir</button>
        </div>
      
    </div>
  </div>
</div>



<!-- Modal create item-->
<div class="modal  fade" id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear pedido</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="CreateFormItem"></div>
          
        </div>
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success-create">Crear</button>
        </div> {% endcomment %}
      
    </div>
  </div>
</div>

<!-- Modal delete item-->
<div class="modal  fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar pedido</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="DeleteFormItem"></div>
          
        </div>
    </div>
  </div>
</div>

<!-- Modal create add item-->
<div class="modal  fade" id="staticBackdropAddItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir agregado</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="AddItemFormItem"></div>
          
        </div>
    </div>
  </div>
</div>

<!-- Modal create utils item-->
<div class="modal  fade" id="staticBackdropUtilsItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir útiles</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="UtilsItemFormItem"></div>
          
        </div>
    </div>
  </div>
</div>

<!-- Modal Paid order-->
<div class="modal  fade" id="staticBackdropPaid" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Realizar pago</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="PaidFormOrder"></div>
          
        </div>
    </div>
  </div>
</div>


<!-- Modal change table order-->
<div class="modal  fade" id="staticBackdropChangeTable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar la mesa</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="ChangeTableFormOrder"></div>
          
        </div>
    </div>
  </div>
</div>

<!-- Modal delibered item-->
<div class="modal  fade" id="staticBackdropDeliberedItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar la mesa</h1>
        <button type="button" class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div  class="modal-body">
          <div  id="DeliberedItemFormOrder"></div>
          
        </div>
    </div>
  </div>
</div>


<div class="content-wrapper" style="min-height: 520.438px">
  <div class="container-fluid p-3">
    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
      <div class="row p-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h1">
            <a class="text-light" href="{% url 'home' %}">Módulos</a>
          </li>
          <li class="breadcrumb-item h1">
            <a class="text-light" href="{% url 'unpaid_orders_list' %}">Cuentas </a>
          </li>
          <li class="breadcrumb-item h1 active">{{order}}</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      {% if categories %}
        <div  class="d-flex overflow-auto pb-3">
                {% for category in categories %}
                    <form id="terminadoForm_{{category.id}}" class="m-2" method="post" hx-post="{% url 'product_sell_list' order=order.id %}"hx-target="#contenido" >
                        {% csrf_token %}
                        <input type="hidden" name="category" value="{{ category.id }}">
                        <button type="submit" class="btn btn btn-primary float-right ">{{category.name}}</button>
                    </form>
                {% endfor %}
                <div hx-get="{% url 'product_sell_list' order=order.id %}" hx-target="#contenido" hx-trigger="load"></div>
              </div>
        {% endif %}
        <div id="contenido"></div>
    </div>
      {% if request.GET.error %}
      <div class="container-fluid">
        <div class="alert alert-error alert-danger alert-dismissible fade show" role="alert">
          {{request.GET.error}}
          <button type="button" class="fa fa-times btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endif %}
    <div class="col-12 col-md-auto d-flex justify-content-end align-items-center">
      {% if unpaid_items %}
      <button 
                        type="button" 
                        class="btn btn-primary disabled mr-2" 
                        >
        <i class="fa fa-dollar mr-2"></i>Pagar
      </button>
      {% else %}
      <button 
                        type="button" 
                        class="btn btn-primary mr-2" 
                        data-bs-toggle="modal" 
                        data-bs-target="#staticBackdropPaid"
                        hx-get="{% url 'paid_order_detail' pk=order.id%}"
                        hx-swap="innerHTML"
                        hx-target="#PaidFormOrder">
        <i class="fa fa-dollar mr-2"></i>Pagar
      </button>
      {% endif %}
      
      <button type="button" class="btn btn-success-create" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fa fa-print mr-2"></i>Imprimir
      </button>
    </div>
  </div>
  <div class="container-fluid">
      <div
        id="content"
        class="content"
        data-select2-id="select2-data-content"
      >
        <div class="container-fluid">
          <div class="col-12">
            <div data-select2-id="select2-data-11-t58z">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body table-responsive p-0">
                      <table id="result_list" class="table table-striped">
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                            >
                              <div class="text">
                                <a href="#"
                                  >{{order}}</a
                                >
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if order %}
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Dependiente: </a> {{order.user}}
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                                <div>
                                  <a href="#">Mesa: </a> {{order.table.name}}
                                </div>
                               
                                <img 
                                style="width:1.5rem;cursor:pointer" 
                                src="/static/admin/img/icon-changelink.svg" 
                                alt="Modificar mesa" 
                                data-bs-toggle="modal" 
                                data-bs-target="#staticBackdropChangeTable"
                                hx-get="{% url 'change_table_order_detail' pk=order.id %}"
                                hx-swap="innerHTML"
                                hx-target="#ChangeTableFormOrder">
                                
                              
                              </div>
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Estado: </a> {{order.is_paid}}
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Turno: </a> Turno {{order.shift.id}}
                              del {{order.shift.in_date}} a las {{order.shift.in_time}} horas
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Creada el: </a> {{order.created_date}}
                              a las {{order.created_time}} horas
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="field-place text">
                              <a href="#">Total a pagar: </a>
                              {{order.total_price}} CUP
                            </td>
                          </tr>
                          {% else %}

                          <tr role="row" class="">
                            <th class="field-name text">-</th>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  <div class="container-fluid p-3">
      <div class="row  p-3">
      {% for item in items_delivered %}
            <div class="col-12 col-md-6">
              <div class="card-item-order p-3 card col-12">
              <div class="card-item-order-header card-header">
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                  <h1 class="h2 delivered">{{item.delivered.product.name}}</h1>
                  {% if item.delivered.state != "cancelado" %}
                    <button 
                    type="button" 
                    class="fa fa-times  btn btn-danger"
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdropDelete"
                    hx-get="{% url 'delete_item_form' order=order.id pk=item.delivered.id %}"
                    hx-swap="innerHTML"
                    hx-target="#DeleteFormItem"></button>
                  {% else %}
                    <button 
                    type="button" 
                    class="fa fa-times disabled btn btn-danger"
                    ></button>
                  {% endif %}
                </div>
                <h3 class="mt-1 delivered">{% if item.delivered.type == "llevar" %}
                  Para llevar: 
                  {% endif %}{{item.delivered.state}}</h3>
                
                <span
                  >Cantidad:
                  <span class="delivered">{{item.delivered.cant}}</span></span
                >
                <p>
                  Precio total:
                  <span class="h5 delivered"
                    >{{item.delivered.estimate_price}}</span
                  >
                  CUP
                </p>
                {% if item.motive %}
                  <h3 class="mt-1 cancel">Motivo</h3>
                  {% if item.motive.motive %}
                  <p>
                    {{item.motive.motive}}
                  </p>
                  {% else %}
                  <p class="text-gray-600">
                    No se hizo una descripción
                  </p>
                  {% endif %}
                {% endif %}
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                  {% if item.delivered.state != "finalizado" and item.delivered.is_active != True %}
                  <form action="{% url 'delibered_item_form' order=order.id pk=item.delivered.id%}"  class="form-group " method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  border-0 float-right">
                      Listo
                    </button>
                  </form>
                  {% endif %}
                  {% if item.delivered.state != "finalizado" %}
                    <button type="button" class="btn btn-primary disabled border-0 float-right">
                      Entregar
                    </button>
                  {% else %}
                    <button 
                        type="button" 
                        class="btn btn-primary float-right border-0"
                        data-bs-toggle="modal" 
                        data-bs-target="#staticBackdropDeliberedItem"
                        hx-get="{% url 'delibered_item_form' order=order.id pk=item.delivered.id%}"
                        hx-swap="innerHTML"
                        hx-target="#DeliberedItemFormOrder">
                      Entregar
                    </button>
                  {% endif %}
                  
                </div>
                
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center pt-3">
                  
                  <h2 class="h5 fw-normal mb-0">
                    Agregados
                </h2>
                {% if item.delivered.state == "ordenado" %}
                  <button type="button" 
                          class="btn btn-success-create" 
                          data-bs-toggle="modal" 
                          data-bs-target="#staticBackdropAddItem"
                          hx-get="{% url 'create_add_item_form' order=order.id pk=item.delivered.id%}"
                          hx-swap="innerHTML"
                          hx-target="#AddItemFormItem">
                      <i class="fa fa-plus-circle mr-2"></i>Añadir
                    </button>
                  {% endif %}
                  
                </div>
                {% if item.delivered.type == "llevar" %}
                  <div class="col-12 col-md-auto d-flex justify-content-between align-items-center pt-3">
                    
                    <h2 class="h5 fw-normal mb-0">
                      Útiles
                  </h2>
                  {% if item.delivered.state == "ordenado" %}
                    <button type="button" 
                            class="btn btn-success-create btn-outline-success" 
                            data-bs-toggle="modal" 
                            data-bs-target="#staticBackdropUtilsItem"
                            hx-get="{% url 'create_util_item_form' order=order.id pk=item.delivered.id%}"
                            hx-swap="innerHTML"
                            hx-target="#UtilsItemFormItem">
                        <i class="fa fa-plus-circle mr-2"></i>Añadir
                      </button>
                    {% endif %}
                    
                  </div>
                
                {% endif %}
                
              </div>

              
              <div class="card-body-0">
                {% if item.add %}
                  <!-- Item-->
                  {% for add in item.add %}
                  <div class="p-3 border-bottom border-gray-200">
                    <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                      <div class="ms-3">
                        <h5 class="fw-normal">{{add.add.name}}</h5>
                        <p class="mb-0 text-xs text-light lh-1">
                          Cantidad: {{add.cant}}
                        </p>
                      </div>
                      {% if add.item.state == "ordenado" %}
                      <form action="{% url 'delete_add_item_form' order=order.id pk=add.id %}"  class="form-group " method="POST">
                        {% csrf_token %}
                        <button 
                        type="submit" 
                        class="fa fa-times  btn btn-danger"
                        ></button>
                      </form>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% if item.util %}
                  {% for util in item.util %}
                    <div class="p-3 border-bottom border-gray-200">
                      <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                        <div class="ms-3">
                          <h5 class="fw-normal">{{util.util.name}}</h5>
                          <p class="mb-0 text-xs text-light lh-1">
                            Cantidad: {{util.cant}}
                          </p>
                        </div>
                        {% if util.item.state == "ordenado" %}
                        <form action="{% url 'delete_util_item_form' order=order.id pk=util.id %}"  class="form-group " method="POST">
                          {% csrf_token %}
                          <button 
                          type="submit" 
                          class="fa fa-times  btn btn-danger"
                          ></button>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  {% endif %}
                  
              
              </div>
              
              
            </div>
          </div>
            {% endfor %}
          </div>
    </div>
  </div>
</div>
<script src="{% static 'sales/js/print.js' %}"></script>
  {% endif %} {% endblock %}

